.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .App-link {
  color: #61dafb;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.navigation{
  box-shadow: 0 5px 5px 0 rgba(18,63,82,.035), 0 0 0 1px rgba(5, 13, 30, 0.2) !important;
  /* color: #084141 !important; */
  background-color: #0E8388;
  
}
.navbar-expand-lg {
  flex-flow: row nowrap;
  justify-content: normal !important;
}
.navbutton{
  display: flex;
}  
.a {
  color: white;
  padding: 10px;
}
 h4{
  color: white;
  padding: 10px;
 }